@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@500;600;700;800&family=Poppins:wght@600&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.poppins {
  font-family: 'Inter', sans-serif;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #D17100;
}

.ant-carousel .slick-dots li button {
  background-color: green;
  border: 2px solid white;
  opacity: 1;
}